.fan-select-menu {
    background-color: #fff;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
    display: flex;
}

.fan-select-menu-item {
    padding: 8px 16px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.fan-select-menu-item:hover {
    background-color: #f5f5f5;
}

.fan-select-menu-left {
    border-right: 1px solid #e5e5e5;
}

.fan-select-menu-right {
    flex: 1;
    background-color: #fff;
    padding: 16px 30px;
    display: flex;
}

.fan-select-menu-right-col {
   min-width: 200px;
   margin-right: 20px;
}

.fan-select-menu-right-item {
    margin-top: 10px;
    color: #6c6c6c;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.fan-select-menu-right-item:hover {
    color: var(--ant-primary-color);
}

.fan-select-menu-right-item-title {
    font-weight: 600;
}

.fan-select-menu-right-item-desc {
    color: #9c9c9c;
    display: inline-block;
    cursor: pointer;
}

.fan-select-menu-right-item-desc:hover {
    color: var(--ant-primary-color);
}